.MoreInfoButton{
    position: absolute;
    display: inline-block;
    margin:auto;
    left:10px;
    bottom:10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size:30px;
    opacity: 0.6;
    z-index: 2;
}

.MoreInfoButton:hover{
    opacity: 0.9;
}

.NextButton{
    position: absolute;
    display: inline-block;
    margin:auto;
    right:10px;
    bottom:10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size:30px;
    opacity: 0.6;
    z-index: 2;
}
.NextButton:hover{
    opacity: 0.9;
}

.users{
    text-decoration: underline;
    font-size: 18px;
}